- post_p = present(post)

%div{ id: "post_#{post.id}" }
%h2
  = link_to post.thread.title, forums_thread_path(post.thread)

.well.well-lg
  .markdown
    = post_p.content

  %hr

  .clearfix
    %small.pull-left
      = post_p.created_at

    %small.pull-right
      = link_to pluralize(post.thread.posts_count - 1, 'comment'), forums_thread_path(post.thread)
